#{extends 'main.html' /}
#{set title:'Registrer tips' /}


  <table>
  #{list items:groups.keySet(), as:'group' }
    <tr>
      <td colspan="2" class="gruppe">Gruppe ${group.name}</td>
    </tr>
    <tr>
      <td>
        <table>
          #{list items:group.matches, as:'match' }
            <tr>
              <td class="teamColumn"><span class="floatRight">${match.homeTeam.name}</span></td>
              <td class="goalsColumn"><input id="h_${match.id}" type="text" class="kortInput goals hometeam"></td>
              <td>-</td>
              <td class="goalsColumn"><input id="a_${match.id}" type="text" class="kortInput goals awayteam"></td>
              <td class="teamColumn"><span class="floatLeft">${match.awayTeam.name}</span></td>
            </tr>
          #{/list}
        </table>
      </td>
      <td></td>
    </tr>
  #{/list}
  </table>

*{#{form @UserBets.create()}}*
*{<ul>}*
*{#{list items:userBet.matchBets, as:'matchBet' }}*
*{<li>${matchBet.match.homeTeam.name} - ${matchBet.match.awayTeam.name}</li>}*
*{#{/list}}*
*{</ul>}*
*{<input type="submit" value="Send inn!"/>}*
*{#{/form}}*

*{<script type="text/javascript">}*

*{$(function() {}*

*{$('.goals').change(function(){}*
*{var goals = $(this).val();}*
*{var isHomeTeam = $(this).hasClass('hometeam');}*
*{var id = $(this).attr('id');}*
*{var matchId = id.substring(2, id.length);}*
*{//      alert(isHomeTeam + " : " + matchId + " : " + goals);}*

*{});}*
*{});}*

*{</script>}*