#{extends 'main.html' /}
#{set title:'Registrer tips' /}

<a class="btn" href="@{Users.get(bet.user.id)}">Tilbake</a>

<br/>
<br/>
<br/>

#{form @Bets.save(), id:'betForm' }

<input type="hidden" name="bet.id" value="${bet.id}">
<input type="hidden" name="bet.user.id" value="${bet.user.id}">
<input id="input_q1" type="hidden" name="bet.q1.id" value="${bet.q1.id}">
<input id="input_q2" type="hidden" name="bet.q2.id" value="${bet.q2.id}">
<input id="input_q3" type="hidden" name="bet.q3.id" value="${bet.q3.id}">
<input id="input_q4" type="hidden" name="bet.q4.id" value="${bet.q4.id}">
<input id="input_q5" type="hidden" name="bet.q5.id" value="${bet.q5.id}">
<input id="input_q6" type="hidden" name="bet.q6.id" value="${bet.q6.id}">
<input id="input_q7" type="hidden" name="bet.q7.id" value="${bet.q7.id}">
<input id="input_q8" type="hidden" name="bet.q8.id" value="${bet.q8.id}">

<input id="input_s1" type="hidden" name="bet.s1.id" value="${bet.s1.id}">
<input id="input_s2" type="hidden" name="bet.s2.id" value="${bet.s2.id}">
<input id="input_s3" type="hidden" name="bet.s3.id" value="${bet.s3.id}">
<input id="input_s4" type="hidden" name="bet.s4.id" value="${bet.s4.id}">

<input id="input_f1" type="hidden" name="bet.f1.id" value="${bet.f1.id}">
<input id="input_f2" type="hidden" name="bet.f2.id" value="${bet.f2.id}">

<input id="input_winner" type="hidden" name="bet.winner.id" value="${bet.winner.id}">

<table>

<tr>
<td width="200px" valign="top">


    <table class="bets_table table table-bordered">
        #{list items:bet.matchBetsSorted(), as:'matchBet' }
            <tr>
                <td class="teamColumn" valign="top">
                    <span class="floatRight">${matchBet.match.homeTeam.name}</span>
                    <input type="hidden" name="bet.matchBets[${matchBet_index-1}].match.id"
                           value="${matchBet.match.id}">
                </td>
                <td class="goalsColumn" valign="bottom">${matchBet.homeTeamScore}</td>
                <td class="goalsColumn" valign="bottom">${matchBet.awayTeamScore}</td>
                <td class="teamColumn" valign="top"><span class="floatLeft">${matchBet.match.awayTeam.name}</span>
                </td>
            </tr>
            #{if (matchBet_index-1) % 6 == 5 }
                <tr>
                    <td colspan="4">&nbsp;</td>
                </tr>
            #{/if}
        #{/list}
    </table>


</td>
<td width="40px"></td>
*{<td width="300px" valign="top">}*

*{<table class="bets_table">}*
*{#{list items:bet.matchBetsSorted(), as:'matchBet' }}*
*{<tr>}*
*{<td class="teamColumn" valign="top">}*
*{<span class="floatRight">${matchBet.match.homeTeam.name}</span>}*
*{<input type="hidden" name="bet.matchBets[${matchBet_index-1}].match.id"}*
*{value="${matchBet.match.id}">}*
*{</td>}*
*{<td class="goalsColumn" valign="bottom">}*
*{#{select 'bet.matchBets[' + java.lang.String.valueOf(matchBet_index - 1) + '].homeTeamScore', value:bet.matchBets[matchBet_index-1].homeTeamScore, class:'goals' }}*
*{#{option 0}0#{/option}}*
*{#{option 1}1#{/option}}*
*{#{option 2}2#{/option}}*
*{#{option 3}3#{/option}}*
*{#{option 4}4#{/option}}*
*{#{option 5}5#{/option}}*
*{#{option 6}6#{/option}}*
*{#{option 7}7#{/option}}*
*{#{option 8}8#{/option}}*
*{#{option 9}9#{/option}}*
*{#{/select}}*
*{</td>}*
*{<td width="16px" valign="top">-</td>}*
*{<td class="goalsColumn" valign="bottom">}*
*{#{select 'bet.matchBets[' + java.lang.String.valueOf(matchBet_index - 1) + '].awayTeamScore', value:bet.matchBets[matchBet_index-1].awayTeamScore, class:'goals' }}*
*{#{option 0}0#{/option}}*
*{#{option 1}1#{/option}}*
*{#{option 2}2#{/option}}*
*{#{option 3}3#{/option}}*
*{#{option 4}4#{/option}}*
*{#{option 5}5#{/option}}*
*{#{option 6}6#{/option}}*
*{#{option 7}7#{/option}}*
*{#{option 8}8#{/option}}*
*{#{option 9}9#{/option}}*
*{#{/select}}*
*{</td>}*
*{<td class="teamColumn" valign="top"><span class="floatLeft">${matchBet.match.awayTeam.name}</span></td>}*
*{</tr>}*
*{#{if (matchBet_index-1) % 6 == 5 }}*
*{<tr>}*
*{<td>&nbsp;</td>}*
*{</tr>}*
*{#{/if}}*
*{#{/list}}*
*{</table>}*


*{</td>}*

<td width="260px" valign="top">


    <table>
        #{list items:bet.tables, as:'group' }
            <tr>
                <td>
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="4">
                                Gruppe ${group.name}
                            </th>
                        </tr>
                        #{list items:group.table(), as:'team'}
                            <tr>
                                <td width="120px">${team.name}</td>
                                <td>${team.goalsScored}</td>
                                <td>${team.goalsConceded}</td>
                                <td>${team.points}</td>
                            </tr>
                        #{/list}
                    </table>
                </td>
            </tr>
        #{/list}
    </table>

</td>
<td valign="top">


    <h3>Regler:</h3>

    <ul>
        <li>Tipp kampresultat i gruppespelet</li>
        <li>Tipp lag i kvartfinale, semifinale, og finale</li>
    </ul>

    <h3>Poeng:</h3>

    <ul>
        <li>3 poeng for riktig resultat</li>
        <li>1 poeng for riktig markering</li>
        <li>1 poeng pr riktig lag i kvartfinale</li>
        <li>2 poeng pr riktig lag i semi</li>
        <li style="text-decoration: line-through">4 poeng for riktig finaletaper</li>
        <li>4 poeng pr riktig finalist</li>
        <li>10 poeng for riktig finalevinner</li>
        <li>10 poeng for riktig toppskårer</li>
        <li>10 poeng for riktig assist-konge</li>
    </ul>

    <br/>


    <h3>Toppskårer</h3>

    <p>${bet.topScorer}</p>

    <h3>Assist-konge</h3>

    <p>${bet.topAssist}</p>

*{<h3>Toppskårer</h3>}*
*{#{select 'bet.topScorer.id', value:bet.topScorer.id, items :bet.allPlayers(), class: 'player-input playerBet' /}}*

*{<h3>Assist-konge</h3>}*
*{#{select 'bet.topAssist.id', value:bet.topAssist.id, items :bet.allPlayers(), class: 'player-input playerBet' /}}*

    <h3>Finaler</h3>
    <em>Grønt betyr at laget vinner kampen:</em>

    <br/>
    <table>


        <tr>
            <td width="140px">
                <div>
                    <a href="#" class="btn ${bet.q1.equals(bet.s1) ? 'disabled' : ''}"
                       id="q1">${bet.q1.name}</a>
                    <br/>
                    <a href="#" class="btn ${bet.q2.equals(bet.s1) ? 'disabled' : ''}"
                       id="q2">${bet.q2.name}</a>
                </div>
                <br/>
                <br/>

                <div>
                    <a href="#" class="btn ${bet.q3.equals(bet.s3) ? 'disabled' : ''}"
                       id="q3">${bet.q3.name}</a>
                    <br/>
                    <a href="#" class="btn ${bet.q4.equals(bet.s3) ? 'disabled' : ''}"
                       id="q4">${bet.q4.name}</a>
                </div>
                <br/>
                <br/>

                <div>
                    <a href="#" class="btn ${bet.q5.equals(bet.s2) ? 'disabled' : ''}"
                       id="q5">${bet.q5.name}</a>
                    <br/>
                    <a href="#" class="btn ${bet.q6.equals(bet.s2) ? 'disabled' : ''}"
                       id="q6">${bet.q6.name}</a>
                </div>
                <br/>
                <br/>

                <div>
                    <a href="#" class="btn ${bet.q7.equals(bet.s4) ? 'disabled' : ''}"
                       id="q7">${bet.q7.name}</a>
                    <br/>
                    <a href="#" class="btn ${bet.q8.equals(bet.s4) ? 'disabled' : ''}"
                       id="q8">${bet.q8.name}</a>
                </div>
                <br/>
            </td>
            <td width="140px">
                <div>
                    <a href="#" class="btn ${bet.s1.equals(bet.f1) ? 'disabled' : ''}"
                       id="s1">${bet.s1.name}</a>
                    <br/>
                    <a href="#" class="btn ${bet.s2.equals(bet.f1) ? 'disabled' : ''}"
                       id="s2">${bet.s2.name}</a>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>

                <div>
                    <a href="#" class="btn ${bet.s3.equals(bet.f2) ? 'disabled' : ''}"
                       id="s3">${bet.s3.name}</a>
                    <br/>
                    <a href="#" class="btn ${bet.s4.equals(bet.f2) ? 'disabled' : ''}"
                       id="s4">${bet.s4.name}</a>
                </div>
            </td>
            <td>
                <div>
                    <a href="#" class="btn ${bet.f1.equals(bet.winner) ? 'disabled' : ''}"
                       id="f1">${bet.f1.name}</a>
                    <br/>
                    <a href="#" class="btn ${bet.f2.equals(bet.winner) ? 'disabled' : ''}"
                       id="f2">${bet.f2.name}</a>
                </div>
            </td>
        </tr>
    </table>

</td>
</tr>
</table>


#{/form}




<script type="text/javascript">

    updateFinals = function () {

        var q1 = $('#q1');
        var q2 = $('#q2');
        var q3 = $('#q3');
        var q4 = $('#q4');
        var q5 = $('#q5');
        var q6 = $('#q6');
        var q7 = $('#q7');
        var q8 = $('#q8');

        $('#s1').html(q1.hasClass('disabled') ? q1.html() : q2.html());
        $('#s3').html(q3.hasClass('disabled') ? q3.html() : q4.html());
        $('#s2').html(q5.hasClass('disabled') ? q5.html() : q6.html());
        $('#s4').html(q7.hasClass('disabled') ? q7.html() : q8.html());

        $('#input_s1').val(q1.hasClass('disabled') ? $('#input_q1').val() : $('#input_q2').val());
        $('#input_s3').val(q3.hasClass('disabled') ? $('#input_q3').val() : $('#input_q4').val());
        $('#input_s2').val(q5.hasClass('disabled') ? $('#input_q5').val() : $('#input_q6').val());
        $('#input_s4').val(q7.hasClass('disabled') ? $('#input_q7').val() : $('#input_q8').val());

        var s1 = $('#s1');
        var s2 = $('#s2');
        var s3 = $('#s3');
        var s4 = $('#s4');

        $('#f1').html(s1.hasClass('disabled') ? s1.html() : s2.html());
        $('#f2').html(s3.hasClass('disabled') ? s3.html() : s4.html());

        $('#input_f1').val(s1.hasClass('disabled') ? $('#input_s1').val() : $('#input_s2').val());
        $('#input_f2').val(s3.hasClass('disabled') ? $('#input_s3').val() : $('#input_s4').val());

        $('#input_winner').val($('#f1').hasClass('disabled') ? $('#input_f1').val() : $('#input_f2').val());
    };


    $(function () {

        $('.goals, .playerBet').change(function () {
            $('#betForm').submit();
        });

        $('a.btn').click(function (event) {

            $(this).parent().find('a').each(function () {
                var $this = $(this);
                if ($this.hasClass('disabled')) {
                    $this.removeClass('disabled');
                    $this.addClass('btn-inverse');
                }
                else $this.addClass('disabled');
            });

            updateFinals();

            $('#betForm').submit();
//            event.preventDefault();
        });

        $('a.btn').each(function () {
            var $this = $(this);
            if ($this.hasClass('disabled')) {
                $this.addClass('btn-success');
            }
        });


    });

</script>




