#{extends 'main.html' /}
#{set title:'Registrer tips' /}

*{<a href="@{Users.get(user.id)}">Min side</a>}*
*{<br/>}*
*{<br/>}*

<table>

    <tr>
        <td width="280px" valign="top">

            <h2>Resultatliste</h2>
            <br/>

            <table class="table table-bordered">
                <tr>
                    <th width="60px">Poeng</th>
                    <th>Tips</th>
                </tr>

            #{list items:bets, as:'bet' }
            *{<tr class="${bet.isTopFour() ? bet.isTheBest() ? 'points_3' : 'points_1' : ''}">}*
                <tr>
                    <td>${bet.getPoints()}</td>
                    <td><a href="@{Bets.listWithBet(bet.id)}">${bet.user.name} - ${bet.winner.name}</a></td>
                </tr>
            #{/list}
            </table>

            <br/>

            <h3>Poengrekning</h3>
            <ul>
                <li>3 poeng for riktig resultat</li>
                <li>1 poeng for riktig markering</li>
                <li>1 poeng pr riktig lag i kvartfinale</li>
                <li>2 poeng pr riktig lag i semi</li>
                <li>4 poeng pr riktig finalist</li>
                <li>10 poeng for riktig finalevinner</li>
                <li>10 poeng for riktig toppskårer</li>
                <li>10 poeng for riktig assist-konge</li>
            </ul>

        </td>

        <td width="40px"></td>
        <td>


            <h2>${aBet.user.name} - ${aBet.winner.name}</h2>
            <br/>
            <table>
                <tr>
                    <td width="200px" valign="top">


                        <table class="bets_table table table-bordered">
                        #{list items:aBet.matchBetsSorted(), as:'matchBet' }
                            <tr class="points_${matchBet.score} ${matchBet.match.ignore ? 'ignored' : ''}">
                                <td class="teamColumn" valign="top">
                                    <span class="floatRight">${matchBet.match.homeTeam.name}</span>
                                    <input type="hidden" name="bet.matchBets[${matchBet_index-1}].match.id"
                                           value="${matchBet.match.id}">
                                </td>
                                <td class="goalsColumn" valign="bottom">${matchBet.homeTeamScore}</td>
                                <td class="goalsColumn" valign="bottom">${matchBet.awayTeamScore}</td>
                                <td class="teamColumn" valign="top"><span
                                        class="floatLeft">${matchBet.match.awayTeam.name}</span>
                                </td>
                            </tr>
                            #{if (matchBet_index-1) % 6 == 5 }
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            #{/if}
                        #{/list}
                        </table>


                    </td>
                    <td width="40px"></td>

                    <td valign="top">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Kvartfinale</th>
                                <th>Semifinale</th>
                                <th>Finale</th>
                                <th>Vinner</th>
                            </tr>
                            </thead>
                            <tr>
                                <td class="${aBet.q1.ranking.value > 0 ? 'points_3' : ''}">${aBet.q1.name}</td>
                                <td class="${aBet.s1.ranking.value > 1 ? 'points_3' : ''}">${aBet.s1.name}</td>
                                <td class="${aBet.f1.ranking.value > 2 ? 'points_3' : ''}">${aBet.f1.name}</td>
                                <td class="${aBet.winner.ranking.value > 3 ? 'points_3' : ''}">${aBet.winner.name}</td>
                            </tr>
                            <tr>
                                <td class="${aBet.q2.ranking.value > 0 ? 'points_3' : ''}">${aBet.q2.name}</td>
                                <td class="${aBet.s2.ranking.value > 1 ? 'points_3' : ''}">${aBet.s2.name}</td>
                                <td class="${aBet.f2.ranking.value > 2 ? 'points_3' : ''}">${aBet.f2.name}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="${aBet.q3.ranking.value > 0 ? 'points_3' : ''}">${aBet.q3.name}</td>
                                <td class="${aBet.s3.ranking.value > 1 ? 'points_3' : ''}">${aBet.s3.name}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="${aBet.q4.ranking.value > 0 ? 'points_3' : ''}">${aBet.q4.name}</td>
                                <td class="${aBet.s4.ranking.value > 1 ? 'points_3' : ''}">${aBet.s4.name}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="${aBet.q5.ranking.value > 0 ? 'points_3' : ''}">${aBet.q5.name}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="${aBet.q6.ranking.value > 0 ? 'points_3' : ''}">${aBet.q6.name}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="${aBet.q7.ranking.value > 0 ? 'points_3' : ''}">${aBet.q7.name}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="${aBet.q8.ranking.value > 0 ? 'points_3' : ''}">${aBet.q8.name}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>


                        <br/>

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Toppskårer</th>
                                <th>Assist-konge</th>
                            </tr>
                            </thead>
                            <tr>
                                <td class="${aBet.topScorer.isTopScorer() ? 'max_points' : ''}">${aBet.topScorer.name}</td>
                                <td class="${aBet.topAssist.isTopAssist() ? 'max_points' : ''}">${aBet.topAssist.name}</td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>