#{extends 'main.html' /}
#{set title:'Registrer tips' /}

*{<a href="@{Users.get(user.id)}">Min side</a>}*
*{<br/>}*
*{<br/>}*

<table>

    <tr>
        <td width="280px" valign="top">

            <h2>Resultatliste</h2>
            <br/>

            <table class="table table-bordered">
                <tr>
                    <th width="60px">Poeng</th>
                    <th>Tips</th>
                </tr>

            #{list items:bets, as:'bet' }
                <tr>
                    <td>${bet.getPoints()}</td>
                    <td><a href="@{Bets.listWithBet(bet.id)}">${bet.user.name} - ${bet.winner.name}</a></td>
                </tr>
            #{/list}
            </table>

            <p>
                NB! Poenga i dei to første kampane vil ikkje telje i samandraget.
            </p>

        </td>

        <td width="40px"></td>
        <td>


            <h2>${aBet.user.name} - ${aBet.winner.name}</h2>
            <br/>
            <table>
                <tr>
                    <td width="200px" valign="top">


                        <table class="bets_table table table-bordered">
                        #{list items:aBet.matchBetsSorted(), as:'matchBet' }
                            <tr class="points_${matchBet.score}">
                                <td class="teamColumn" valign="top">
                                    <span class="floatRight">${matchBet.match.homeTeam.name}</span>
                                    <input type="hidden" name="bet.matchBets[${matchBet_index-1}].match.id"
                                           value="${matchBet.match.id}">
                                </td>
                                <td class="goalsColumn" valign="bottom">${matchBet.homeTeamScore}</td>
                                <td class="goalsColumn" valign="bottom">${matchBet.awayTeamScore}</td>
                                <td class="teamColumn" valign="top"><span
                                        class="floatLeft">${matchBet.match.awayTeam.name}</span>
                                </td>
                            </tr>
                            #{if (matchBet_index-1) % 6 == 5 }
                                <tr>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            #{/if}
                        #{/list}
                        </table>


                    </td>
                    <td width="40px"></td>

                    <td valign="top">

                        <h3>Toppskårer</h3>

                        <p>${bet.topScorer}</p>

                        <h3>Assist-konge</h3>

                        <p>${bet.topAssist}</p>

                        <h3>Finaler</h3>

                        <br/>
                        <table>


                            <tr>
                                <td width="140px">
                                    <div>
                                        <a href="#" class="btn ${aBet.q1.equals(aBet.s1) ? 'btn-success' : ''}"
                                           id="q1">${aBet.q1.name}</a>
                                        <br/>
                                        <a href="#" class="btn ${aBet.q2.equals(aBet.s1) ? 'btn-success' : ''}"
                                           id="q2">${aBet.q2.name}</a>
                                    </div>
                                    <br/>
                                    <br/>

                                    <div>
                                        <a href="#" class="btn ${aBet.q3.equals(aBet.s3) ? 'btn-success' : ''}"
                                           id="q3">${aBet.q3.name}</a>
                                        <br/>
                                        <a href="#" class="btn ${aBet.q4.equals(aBet.s3) ? 'btn-success' : ''}"
                                           id="q4">${aBet.q4.name}</a>
                                    </div>
                                    <br/>
                                    <br/>

                                    <div>
                                        <a href="#" class="btn ${aBet.q5.equals(aBet.s2) ? 'btn-success' : ''}"
                                           id="q5">${aBet.q5.name}</a>
                                        <br/>
                                        <a href="#" class="btn ${aBet.q6.equals(aBet.s2) ? 'btn-success' : ''}"
                                           id="q6">${aBet.q6.name}</a>
                                    </div>
                                    <br/>
                                    <br/>

                                    <div>
                                        <a href="#" class="btn ${aBet.q7.equals(aBet.s4) ? 'btn-success' : ''}"
                                           id="q7">${aBet.q7.name}</a>
                                        <br/>
                                        <a href="#" class="btn ${aBet.q8.equals(aBet.s4) ? 'btn-success' : ''}"
                                           id="q8">${aBet.q8.name}</a>
                                    </div>
                                    <br/>
                                </td>
                                <td width="140px">
                                    <div>
                                        <a href="#" class="btn ${aBet.s1.equals(aBet.f1) ? 'btn-success' : ''}"
                                           id="s1">${aBet.s1.name}</a>
                                        <br/>
                                        <a href="#" class="btn ${aBet.s2.equals(aBet.f1) ? 'btn-success' : ''}"
                                           id="s2">${aBet.s2.name}</a>
                                    </div>
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>

                                    <div>
                                        <a href="#" class="btn ${aBet.s3.equals(aBet.f2) ? 'btn-success' : ''}"
                                           id="s3">${aBet.s3.name}</a>
                                        <br/>
                                        <a href="#" class="btn ${aBet.s4.equals(aBet.f2) ? 'btn-success' : ''}"
                                           id="s4">${aBet.s4.name}</a>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <a href="#" class="btn ${aBet.f1.equals(aBet.winner) ? 'btn-success' : ''}"
                                           id="f1">${aBet.f1.name}</a>
                                        <br/>
                                        <a href="#" class="btn ${aBet.f2.equals(aBet.winner) ? 'btn-success' : ''}"
                                           id="f2">${aBet.f2.name}</a>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>