.kortInput {
    width: 40px;
}

.teamColumn {
    width: 80px;
}

.goals {
    width: 40px;
}

.floatLeft {
    float: left;
    margin-left: 4px;
}

.floatRight {
    float: right;
    margin-right: 4px;
}

.gruppe {
    padding-top: 10px;
}

a.btn {
    width: 80px;
}