.kortInput {
    width: 40px;
}

.teamColumn {
    width: 80px;
}

.goals {
    width: 40px;
}

.floatLeft {
    float: left;
    margin-left: 4px;
}

.floatRight {
    float: right;
    margin-right: 4px;
}

.gruppe {
    padding-top: 10px;
}

a.btn {
    width: 80px;
}

.player-input {
    width: 350px;
}

.points_3 {
    background-color: #c0fab1;
}

.points_1 {
    background-color: #f8faaa;
}

.ignored {
    text-decoration: line-through;
}