#{extends 'main.html' /}
#{set title:'Registrer deg' /}

<a href="@{Bets.list()}">Alle tips</a>
<br/>
<br/>

<h2>${user.name}</h2>
<p>${user.email}</p>

<br/>
<p>
    Du har lov til å endre på tipsa dine ut fredag. Kvart tips kostar 100 kr.
</p>
<p>
    Betaling kan gjerast til kontonr.: 9710 36 84971, eller kontant til Mads eller Øyvind.
</p>
<br/>

<h3>Mine tips:</h3>
<ul>
#{list items:user.bets, as:'bet'}
    <li>${bet.winner.name} vinn! | <a href="@{Bets.edit(bet.id)}">Endre</a> | <a href="@{Bets.delete(bet.id)}">Slett</a>
        | <a href="@{Bets.get(bet.id)}">Vis</a>
    </li>
#{/list}
</ul>

<br/>
<a href="@{Bets.create()}" class="btn">Nytt tips!</a>

<a class="btn btn-danger" href="/logout">Logg ut</a>