#{extends 'main.html' /}
#{set title:'Home' /}


<h2>Velkomen!</h2>
<p>
    EM-tipp er tippekonkuransen som kan gjere eit knippe heldige vinnarar til millionerar!
</p>
<br/>

<h2>Premie</h2>
<ul>
    <li>Det kostar kr 100,- å delta</li>
    <li>Dei 4 beste tipsa deler premien</li>
    <li>Premien skal brukast på ein tippekuppong som vinnaren fyller ut. Tippesystem er valgfritt, men alle pengane må
        brukast opp.
    </li>
</ul>
<br/>

<table class="table table-bordered">
    <tr>
        <th width="60px">Poeng</th>
        <th>Tips</th>
    </tr>

#{list items:bets, as:'bet' }
    <tr>
        <td>${bet.getPoints()}</td>
        <td><a href="@{Bets.get(bet.id)}">${bet.user.name} - ${bet.winner.name} vinn!</a></td>
    </tr>
#{/list}
</table>

<br/>
<br/>
<a class="btn" href="@{Users.create()}">Registrer deg</a>

<a class="btn btn-primary" href="/login">Logg inn</a>
<br/>
<br/>
<p>* brukarnamn for innlogging er epost-adressa di.</p>