#{extends 'main.html' /}
#{set title:'Home' /}


<h2>Velkomen!</h2>
<p>
    EM-tipp er tippekonkuransen som kan gjere eit knippe heldige vinnarar til millionerar!
</p>
<br/>

<h2>Slik gjer du</h2>
<ul>
    <li>Tipp resultat i gruppespelkampar</li>
    <li>Tipp kven som går til kvartfinale, semifinale, finale, og ikkje minst, vinn heile sulamitten</li>
    <li>Tipp toppskårar og assistkonge</li>
</ul>

<h2>Premie</h2>
<ul>
    <li>Kvart tips kostar kr 100,-</li>
    <li>Dei 4 beste tipsa deler premien</li>
    <li>Premien skal brukast på ein tippekuppong som vinnaren fyller ut. Tippesystem er valgfritt, men alle pengane må
        brukast opp.
    </li>
</ul>
<br/>
<a class="btn" href="@{Users.create()}">Registrer deg</a>

<a class="btn btn-primary" href="/login">Logg inn</a>
<br/>
<br/>
<p>* brukarnamn for innlogging er epost-adressa di.</p>

${user}